<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta property="og:title" content="나홀로 일기장"/>
    <meta property="og:description" content="소소하게 사진들을 기록하는 곳"/>
    <meta property="og:image" content="{{ url_for('static', filename='ogimage.jpg') }}"/>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- file upload library -->
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <title>먹고싶은 음식들</title>

    <style>
        *{
            font-family: 'Jua', sans-serif;
        }

        .wrap{
            width : 1000px;
            margin : 0 auto;
        }

        .container{
            padding-left: 50px;

        }
        .posting-box{
            width : 500px;
            margin-top : 20px;
        }

        .posting-box .custom-file{
            margin-bottom: 20px;
        }

        .card-columns{
            display : flex;
            flex-wrap: wrap;
            margin : 0 auto;

        }

        .card-columns .card{
            width : 320px;

        }

        .card-title{
            color : blue;
            font-size : 30px;
        }
    </style>
    <script>


        $(document).ready(function () {
            bsCustomFileInput.init();
            listing();

        })

        function posting() {
            let title = $('#title').val();
            let content = $('#content').val();

            if (title === '') {
                $('#title').focus();
                alert('제목을 입력해주세요!');
                return;
            } else if (content === '') {
                $('#content').focus();
                alert('내용을 입력해주세요!');
                return;
            }

            let file = $('#file')[0].files[0];
            let form_data = new FormData();

            form_data.append("file_give", file);
            form_data.append("title_give", title);
            form_data.append("content_give", content);

            $.ajax({
                type: "POST",
                url: "/diary",
                data: form_data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    alert(response["msg"])
                    window.location.reload()
                }
            });

        }

        function listing(){
            let title, content, image, currentTime, temp_html;
            $.ajax({
                type: "GET",
                url: "/diary",
                data: {},
                success: function (response) {
                    let diaries = response['all_diary'];
                    for(let i = 0; i < diaries.length; i++){
                        title = diaries[i]['title'];
                        content = diaries[i]['content'];
                        image = diaries[i]['file'];
                        currentTime = diaries[i]['time'];
                        temp_html = `<div class="card">
                                        <img src="../static/${image}" class="card-img-top">
                                        <div class="card-body">
                                            <h5 class="card-title">${title}</h5>
                                            <p class="card-text">${content}</p>
                                            <p class="card-text">${currentTime}</p>
                                        </div>
                                    </div>`;

                        $('#card-box').append(temp_html);

                    }
                }
            })
        }




    </script>
</head>

<body>
    <div class="wrap">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">🍳 식스타 그램</h1>
                <div class="posting-box">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="file">
                        <label class="custom-file-label" for="file">사진 선택</label>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="title" aria-describedby="emailHelp"
                               placeholder="사진 제목">
                    </div>
                    <div class="form-group">
                    <textarea class="form-control" id="content" rows="3"
                              placeholder="내용 입력"></textarea>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="posting()">저장 하기</button>
                </div>
            </div>
        </div>
        <div class="card-columns" id="card-box">

        </div>
    </div>

</body>

</html>